<div class="row">
  <div class="col">
    <p>home works!</p>
    
    <button class="btn btn-debug" [disabled]="!pageNumber.valid" (click)="navigate(pageNumber.value)">move to subpage 1</button>
  </div>
  
</div>
<div class="row">
  <div class="col">
    <label>
      Page Size
      <input type="number" [formControl]="listSize" min="0">
    </label>
    <ul>
      <app-list-element class="col-4" *ngFor="let post of posts" [id]="post.id" [name]="post.slug"></app-list-element>
    </ul>
  </div>
  
    
</div>
